<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proiectaz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        style="@CityApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RaportUtilizatori" />
        <activity android:name=".Informatii" />
        <activity android:name=".AdaugaSesizareActivity" />
        <activity android:name=".AnunturiActivity" />
        <activity android:name=".AdaugaPlataActivity" />
        <activity android:name=".SesizariActivity" />
        <activity android:name=".PlatiActivity" />
        <activity android:name=".ProfilOperatiuniActivity" />
        <activity android:name=".PaginaPersonalaActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ProfilActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>